html{
    font-size: 80.5%;
}

body {
  margin: 0;
  font-family:'Josefin Sans';
  color: #000;
  background-color: #999;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
